<launch>
  <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl" />

  <!-- Panda specific options -->
  <arg name="load_gripper" default="true" />
  <arg name="transmission" default="effort" />

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true" />
  <arg name="paused" default="false" />

  <!-- Launch the gazebo simulator and spawn the robot -->
  <include file="$(find franka_gazebo)/launch/panda.launch" pass_all_args="true">
    <arg name="headless" value="$(eval not arg('gazebo_gui'))" />
    <arg name="use_gripper" default="$(arg load_gripper)" />
    <arg name="controller" default="$(arg transmission)_joint_trajectory_controller" />
    <arg name="world" value="$(find pp_gazebo)/worlds/meu_mundo.world" doc="Filename to a SDF World for gazebo to use" />
    <arg name="x"           value="-0.3"     doc="How far forward to place the base of the robot in [m]?" />
    <arg name="y"           value="0"     doc="How far leftwards to place the base of the robot in [m]?" />
    <arg name="z"           value="0"     doc="How far upwards to place the base of the robot in [m]?" />
  </include>

  <include file="$(find panda_moveit_config)/launch/demo.launch" pass_all_args="true">
    <!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="false" />
    <!-- MoveItSimpleControllerManager provides ros_control's JointTrajectory controllers
         as well as GripperCommand actions -->
    <arg name="moveit_controller_manager" value="simple" />
  </include>
</launch>
